* {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkcyan;
    text-align: center;
}

.container {
    height: 530px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.game {
    height: 380px;
    width: 380px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.box {
    height: 120px;
    width: 120px;
    border: none;
    border-radius: 10%;
    box-shadow: 5px 5px 10px black;
    font-size: 50px;
    background-color: lightsalmon;
}

.box.X {
    color: black ;
}

.box.O {
    color: white ;
}


#reset {
    padding: 15px;
    font-size: 20px;
    background-color: lightcoral;
    border: none;
    border-radius: 25px;
}

#new-btn {
    padding: 15px;
    font-size: 20px;
    background-color: lightcoral;
    border: none;
    border-radius: 25px;
    margin-top: 10px;
}

#msg {
    color: bisque;
    font-size: 50px;
}

.msg-container {
    height: 100px;
    margin-top: 40px;
}

.hide {
    display: none;
}